{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>


    <!---------------------------------Navigation---------------------------------------->
    <nav>
        <div id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <li class="nav-bar">
            <ul class="nav-item"><a href="#">SHOP</a></ul>
            <ul class="nav-item"><a href="#">COLLECTIONS</a></ul>
            <ul class="nav-item"><a href="#">ABOUT</a></ul>
            <ul class="nav-item"><a href="#">JOURNAL</a></ul>
        </li>
        <div class="brand">
            <span><a href="./index.html">POGCRAZY</a></span>
        </div>
        <div class="nav-opt">

            <div class="opt-item" id="wishlist">
                <i class="fal fa-heart"></i>
            </div>
            <div class="opt-item" id="account">
                <a href="{% url 'account:detail' %}"><i class="fal fa-user"></i></a>
            </div>
            <div class="opt-item" id="search">
                <i class="fal fa-search"></i>
            </div>
            <div class="opt-item" id="cart">
                <i class="fal fa-shopping-cart"></i>
            </div>
        </div>
    </nav>

    <!----------------------------------------------Mobile Menu----------------------------------------------->
    <div id="mobile-overlay" class="hidden"></div>
    <div id="mobile-menu" class="hidden">
        <div id="mobile-btn">
            <span></span>
            <span></span>
        </div>
        <div id="mobile-opt">
            <div class="mobile-opt"><a href="#">SHOP</a> +</div>
            <div class="mobile-opt"><a href="#">COLLECTIONS</a> +</div>
            <div class="mobile-opt"><a href="#">ABOUT</a></div>
            <div class="mobile-opt"><a href="#">JOURNAL</a></div>
        </div>
        <div id="mobile-opt-extra">
            <div class="mobile-opt-extra">Retailers</div>
            <div class="mobile-opt-extra">Contact</div>
            <div class="mobile-opt-extra">Account</div>
        </div>
        <div id="mobile-menu-footer">
            <div class="mobile-menu-socials"><i class="fab fa-facebook-f"></i></div>
            <div class="mobile-menu-socials"><i class="fab fa-instagram"></i></div>
            <div class="mobile-menu-socials"><i class="fab fa-pinterest-p"></i></div>
            <div class="mobile-menu-socials"><i class="fab fa-youtube"></i></div>
        </div>
    </div>

    <!--------------------------------------------------------Cart------------------------------------------------>

    <div class="cart">
        <div class="cart-head">
            <span>CART</span>
            <div class="cart-head-button">
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="cart-body">

        </div>
    </div>

    <!-----------------------------------------Account--------------------------------->


    <div class="account">
        <div class="account-welcome">
            <a href="#">LOGOUT</a>
            <h3>MY ACCOUNT</h3>
            <p>Welcome back, Magus!</p>
        </div>
        <div class="account-orders">
            <div class="account-title">
                MY ORDERS
            </div>
            <div class="account-orders-orders">
                You haven't placed any orders yet
            </div>
        </div>
        <div class="account-primary-address">
            <div class="account-title">
                PRIMARY ADDRESS
            </div>
            <div class="address">
                <p id="address-name">Magus Ikrak</p>
                <p>Magus</p>
                <p>Address1</p>
                <p>Zipcode City Code</p>
                <p>Country</p>
                <button>EDIT ADDRESSES</button>
            </div>
        </div>
    </div>

    <!-----------------------------------------Footer----------------------------------->

    <footer>
        <div class="insta-cover">
            <div class="insta-cover-img" >
                <div class="insta-cover-overlay">
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="insta-cover-img">
                <div class="insta-cover-overlay">
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="insta-cover-img">
                <div class="insta-cover-overlay">
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="insta-cover-img">
                <div class="insta-cover-overlay">
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="insta-cover-img">
                <div class="insta-cover-overlay">
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            
            

        </div>
        <div class="overview">

            <div class="overview-menu">
                <p class = "overview-head">
                    SHOP MENU
                </p>
                <ul class= "overview-list">
                    <li class="overview-list-item"><a href="#">Coats & Long Jackets</a> </li>
                    <li class="overview-list-item"><a href="#">Skirts</a> </li>
                    <li class="overview-list-item"><a href="#">Pants</a> </li>
                    <li class="overview-list-item"><a href="#">Dresses</a> </li>
                    <li class="overview-list-item"><a href="#">Tops</a> </li>
                    <li class="overview-list-item"><a href="#">Accessories</a> </li>
                </ul>
            </div>

            <div class="overview-help">
                <p class = "overview-head">
                    HELP
                </p>
                <ul class= "overview-list">
                    <li class="overview-list-item"><a href="">Contact</a> </li>
                    <li class="overview-list-item"><a href="">My Account</a></li>
                    <li class="overview-list-item"><a href="">Terms & Condition</a></li>
                    <li class="overview-list-item"><a href="">Retailers</a></li>
                    <li class="overview-list-item"><a href="">Privacy Policy</a></li>             
                </ul>
            </div>
            <div class="overview-newsletter">
                <p class = "overview-head">
                    NEWSLETTER
                </p>
                <p class="overview-list-item">
                    Sign up for 10% off your next order*
                </p>
                <form method="POST">
                    <input type="email" name="email" placeholder="Enter your email address" autocomplete="off">
                    <button type="submit">SUBSCRIBE</button>
                </form>

            </div>
        </div>

        <div class="socials">
            <div class="footer-socials"><i class="fab fa-facebook-f"></i></div>
            <div class="footer-socials"><i class="fab fa-instagram"></i></div>
            <div class="footer-socials"><i class="fab fa-pinterest-p"></i></div>
            <div class="footer-socials"><i class="fab fa-youtube"></i></div>
        </div>
        <div class="footer">
            <div class="copyright">
                <p>&#169; 2021 POGCRAZY</p>
            </div>
            <div class="payment">
                <i class="fab fa-apple-pay"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
            </div>
        </div>


    </footer>
    <script>
        const instaCovers = document.getElementsByClassName('insta-cover-img');
        for (let i = 1; i < instaCovers.length+1; i++){
            instaCovers[i-1].style.background = `url(static/images/insta-${i}.jpg) center center no-repeat`;
            // instaCovers[i-1].style.background = `url({% static 'images/insta-' %}) center center no-repeat`;

            instaCovers[i-1].style.backgroundSize = 'contain';


        }

    </script>
    <script src="{% static 'scripts/login.js' %}"></script>
    <script src="{% static 'scripts/cart.js' %}"></script>
    <script src="{% static 'scripts/mobilemenu.js' %}"></script>

</body>
</html>