{% extends "base.html" %}
{% load static %}
{% block title %}
    Login
{% endblock title %}


{% block content %}
    <!---------------------------------------------Login------------------------------------------------->


    <div class="login" id="login">
        <div class="login-head">
            <h2>LOGIN</h2>
            <p>Please enter your e-mail and password:</p>
        </div>
        <div class="login-form">
            <form action="" method="POST">
                <!-- <input type="text" name="email" placeholder="Email" autocomplete="off">
                <input type="password" name="password" placeholder="Password"> -->
                {% csrf_token %}
                {{ form.as_p }}
                <div id="forgot"><span>Forgot your password?</span></div>
                <button type="submit">LOGIN</button>
            </form>
        </div>
        <div class="login-signup">
            <p>Don't have an account? <a href="{% url 'account:register' %}">Create One</a></p>
        </div>
    </div>
 
    <div class="login" id="recover">
        <div class="login-head">
            <h2>RECOVER PASSWORD</h2>
            <p>Please enter your email:</p>
        </div>
        <div class="login-form">
            <form action="" method="POST">
                <input type="email" name="email" placeholder="Email" autocomplete="off">
                <button type="submit">RECOVER</button>
            </form>
        </div>
        <div class="login-signup">
            <p>Remember your password? <a href="#">Back to Login</a></p>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/login.js' %}"></script>
    <script src="{% static 'scripts/cart.js' %}"></script>
    <script src="{% static 'scripts/mobilemenu.js' %}"></script>
{% endblock scripts %}