.login{
    width: 100%;
    // width: 500px;
    
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-head{
        width: 30%;

        h2{
            padding: 1rem;

            font-weight: $medium;
            letter-spacing: .2rem;
            font-size: 1.15rem;
            text-align: center;
        }
        p {
            padding: 1.1rem;
            font-size: .95rem;
            text-align: center;
            letter-spacing: .05rem;

        }
    }

    &-form{
        width: 30%;
        form{
            display: flex;
            flex-direction: column;
            #forgot{
               
                display: flex;
                justify-content: flex-end;    
                span{
                    position: relative;
                    color: gray;
                    font-size: .75rem;
                    text-align: right;
                    cursor: pointer;
                    transition: all ease .3s;
                    
                    &:hover {
                        color: black;
                    }
    
                }            
            }
        }
        input{
            
            font-size: .85rem;
            width: 100%;
            padding: 1rem;
            margin: .5rem;
            border: none;
            background-color: transparent;
            outline: 1px solid rgb(187, 187, 187);
            &:focus{
            outline: 1px solid black;

            }

        }
        button{
            width: 100%;
            padding: 1rem;
            margin: .5rem;
            border: none;
            background-color: rgb(255, 255, 255);
            outline: 1px solid rgb(51, 51, 51);
            letter-spacing: .1rem;
            transition: all ease-in-out .3s;
            &:hover{
                cursor: pointer;
                background-color: rgb(251, 251, 251);
                
            }
        }
    }
    &-signup{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .95rem;
        letter-spacing: .03rem;
        p{
            padding: 1rem;
            color: gray;
        }
        a{
            text-decoration: none;
            color: black;
            transition: all ease-in-out .3s;
            &:hover{
                color: gray;
            }
        }

    }

}
.hide {
    display: none;
}
#recover{
    display: none;
}

.form-in{
    animation: form-in forwards 1s;
}
.form-out{
    animation: form-out forwards 1s;
}
@keyframes form-out {
    0%{
        display: block;
        opacity: 1;
    }
    99%{
        display: block;
        opacity: 0;
    }
    100%{
        display: none;
        transform: translateY(50px);
        opacity: 0;
    }
}
@keyframes form-in {
    0%{
        display: none;
        transform: translateY(50px);
        opacity: 0;
    }
    1%{
        display: block;
        opacity: 0;
    }
    100%{
        display: block;
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 1000px){
    .login{
        &-head{
            width: 40%;
        }
        &-form{
            width: 40%;
        }
        &-signup{
            width: 40%;
        }

    }
}

@media screen and (max-width: 600px){
    .login{
        &-head{
            width: 80%;
        }
        &-form{
            width: 80%;
        }
        &-signup{
            width: 80%;
        }

    }
}


.account{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    &-welcome{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;

        a{
            color: gray;
            font-size: .8rem;  
            padding-bottom: .5rem;    
            letter-spacing: .15rem;      
        }
        h3{
            padding: 1rem 0;
            color: black;
        }
    }

    &-title{
        border-bottom: 1px solid rgb(194, 194, 194);
        color: gray;
        font-size: .8rem;  
        padding-bottom: .5rem;    
        letter-spacing: .15rem;  
        margin-bottom: 3rem;  
    }
    &-orders{
        width: 75%;
        padding-right: 4rem;
        &-orders{
            font-size: .9rem;

        }

    }
    &-primary-address{
        .address{
            font-size: .9rem;
            #address-name{
                margin-bottom: 1rem;
            }
            p{
                padding-bottom: .5rem;
                
            }
            button{
                margin: .5rem 0;
                // width: 50%;
                padding: 1rem;
                border: none;
                background-color: rgb(251, 251, 251);
                outline: 1px solid rgb(51, 51, 51);
                letter-spacing: .1rem;
                transition: all ease-in-out .3s;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(255, 255, 255);

                    
                }
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .account{
        flex-wrap: nowrap;
        flex-direction: column;

        &-orders{
            width: 100%;
            margin-bottom: 3rem;
            padding-right: 0;
        }

    }
    
}