.login{
    width: 100%;
    // width: 500px;
    
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-head{
        width: 30%;

        h2{
            padding: 1rem;

            font-weight: $medium;
            letter-spacing: .2rem;
            font-size: 1.15rem;
            text-align: center;
        }
        p {
            padding: 1.1rem;
            font-size: .95rem;
            text-align: center;
            letter-spacing: .05rem;

        }
    }

    &-form{
        width: 30%;
        form{
            display: flex;
            flex-direction: column;
            #forgot{
               
                display: flex;
                justify-content: flex-end;    
                span{
                    position: relative;
                    color: gray;
                    font-size: .75rem;
                    text-align: right;
                    cursor: pointer;
                    transition: all ease .3s;
                    
                    &:hover {
                        color: black;
                    }
    
                }            
            }
        }
        input{
            
            font-size: .85rem;
            width: 100%;
            padding: 1rem;
            margin: .5rem;
            border: none;
            background-color: transparent;
            outline: 1px solid rgb(187, 187, 187);
            &:focus{
            outline: 1px solid black;

            }

        }
        label{
            padding: 1rem;

        }
        button{
            width: 100%;
            padding: 1rem;
            margin: .5rem;
            border: none;
            background-color: rgb(255, 255, 255);
            outline: 1px solid rgb(51, 51, 51);
            letter-spacing: .1rem;
            transition: all ease-in-out .3s;
            &:hover{
                cursor: pointer;
                background-color: rgb(251, 251, 251);
                
            }
        }
    }
    &-signup{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .95rem;
        letter-spacing: .03rem;
        p{
            padding: 1rem;
            color: gray;
        }
        a{
            text-decoration: none;
            color: black;
            transition: all ease-in-out .3s;
            &:hover{
                color: gray;
            }
        }

    }

}
.hide {
    display: none;
}
#recover{
    display: none;
}

.form-in{
    animation: form-in forwards 1s;
}
.form-out{
    animation: form-out forwards 1s;
}
@keyframes form-out {
    0%{
        display: block;
        opacity: 1;
    }
    99%{
        display: block;
        opacity: 0;
    }
    100%{
        display: none;
        transform: translateY(50px);
        opacity: 0;
    }
}
@keyframes form-in {
    0%{
        display: none;
        transform: translateY(50px);
        opacity: 0;
    }
    1%{
        display: block;
        opacity: 0;
    }
    100%{
        display: block;
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 1000px){
    .login{
        &-head{
            width: 40%;
        }
        &-form{
            width: 40%;
        }
        &-signup{
            width: 40%;
        }

    }
}

@media screen and (max-width: 600px){
    .login{
        &-head{
            width: 80%;
        }
        &-form{
            width: 80%;
        }
        &-signup{
            width: 80%;
        }

    }
}


.account{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    &-welcome{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;

        a{
            color: gray;
            font-size: .8rem;  
            padding-bottom: .5rem;    
            letter-spacing: .15rem;      
        }
        h3{
            padding: 1rem 0;
            color: black;
        }
    }

    &-title{
        border-bottom: 1px solid rgb(194, 194, 194);
        color: gray;
        font-size: .8rem;  
        padding-bottom: .5rem;    
        letter-spacing: .15rem;  
        margin-bottom: 3rem;  
    }
    &-orders{
        width: 75%;
        padding-right: 4rem;
        &-orders{
            font-size: .9rem;

        }

    }
    &-primary-address{
        .address{
            font-size: .9rem;
            #address-name{
                margin-bottom: 1rem;
            }
            p{
                padding-bottom: .5rem;
                
            }
            button{
                margin: .5rem 0;
                // width: 50%;
                padding: 1rem;
                border: none;
                background-color: rgb(251, 251, 251);
                outline: 1px solid rgb(51, 51, 51);
                letter-spacing: .1rem;
                transition: all ease-in-out .3s;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(255, 255, 255);

                    
                }
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .account{
        flex-wrap: nowrap;
        flex-direction: column;

        &-orders{
            width: 100%;
            margin-bottom: 3rem;
            padding-right: 0;
        }

    }
    
}

.add-ress{
    display: flex;
    flex-direction: column;
    padding: 3rem;

    .back{
        margin-bottom: 1.75rem;
        a{
            text-decoration: none;
            color: gray;
            font-size: .7rem;
            word-spacing: .2rem;
            letter-spacing: .1rem;

            transition: all ease .3s;                    
            &:hover {
                color: black;
            }

        }
    }
    h2{
        margin-bottom: 1.75rem;

        font-weight:$medium;
        font-size: 1.2rem;
        letter-spacing: .3rem;

    }
    button{
        width: 250px;
        margin: .5rem 0;
        padding: 1rem;
        border: none;
        
        background-color: rgb(255, 255, 255);
        outline: 1px solid rgb(51, 51, 51);
        letter-spacing: .1rem;
        transition: all ease-in-out .3s;
        &:hover{
            cursor: pointer;
            background-color: rgb(251, 251, 251);
        }
    }
}
.addresses{
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .address{
        width: 33%;
        padding-right: 1rem;
        margin-bottom: 3rem;
        &-head{
            color: gray;
            border-bottom: 1px solid rgb(230, 230, 230);
            font-size: .75rem;
            letter-spacing: .1rem;
            padding-bottom: .5rem;
            margin-bottom: 2rem;
        }
        &-body{
            line-height: 1.2rem;
            #address-name{
                margin-bottom: 1rem;
            }
            .edit{
                margin-top: 1.5rem;
                a{
                    text-decoration: none;
                    color: black;
                    padding-bottom: .25rem;
                    border-bottom: 1px solid black;
                    transition: all ease .3s;
                    &:hover{
                        color: gray;
                        border-bottom: 1px black gray;
                    }
                }
            }
        }
    }

}
.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.address-form{
    z-index: 101;
    position: fixed;
    top: 5vh;
    background-color: white;
    width: 20%;
    height: 90vh;
    min-width: 500px;
    padding: 3rem;
    display: none;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;


    #form-btn{    
        position: absolute;   
        top: 1rem;
        right: 1rem; 
        padding: 0 2rem; 
        margin: 1rem 0 2rem 0;
        width: 20px;
        height: 20px;    
        cursor: pointer;  

        &:hover span{
            background-color: gray; 
        }
        span{
            display: block;
            width: 20px;
            height: 2px;
            margin: 0px 0px;
            background-color: black; 
            transition: all .3s ease;

        }
        :first-child{
            transform: rotate(45deg);
            position: relative;
            top: 10px;

        }
        :last-child{
            position: relative;
            top: 8px;
            transform: rotate(-45deg);
        }

    }

    h2{
        text-align: center;
        font-size: 1.1rem;
        font-weight: $medium;
        margin-bottom: 2rem;
        letter-spacing: .1rem;
    }
    h3{
        text-align: center;
        font-size: .9rem;
        font-weight: $medium;
        margin-bottom: 1.5rem;
        letter-spacing: .05rem;




    }
}

#default-check{
    width: auto;
}
@media screen and (max-width: 1000px){
    .addresses{
        .address{
            width: 49%;
        }
    }
}
@media screen and (max-width: 600px){
    .addresses{
        .address{
            width: 98%;
        }
    }
    .address-form{
        top: 0;
        width: 100%;
        height: 100vh;
    }
}