.collection-carousel{

    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }
    &-main{
        display: flex;     
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 1rem 0;


        // .left-button i{
        //     transform: translate(-3px);     
        // }
        // .right-button i{
        //     transform: translate(3px);
        // }

        .left-button:hover i{
            animation: arrowLeft ease-in-out .3s;
        }
        .right-button:hover i{
            animation: arrowRight ease-in-out .3s;
        }

        .next-button{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            cursor: pointer;
            width: 40px;
            height: 40px;
            background-color: rgb(255, 255, 255);    
            border-radius: 50%; 
            box-shadow: 0px 2px 10px rgb(204, 204, 204);
            transition: transform .3s;
            overflow: hidden;
            &:hover{
                transform: scale(1.1);
            }

            
        }
    
        
    }
    &-cards{

        margin: 0 1rem;
        width: 80%;
        overflow-x: hidden;
        .bag{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            transition: all .3s;
        }
  

    }
    &-card{
        cursor: pointer;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0 0 25%;        
        margin-bottom: 1rem;
        padding: 0 1rem;
    
        img{
            width: 90%;        
        }        

        h2{
            margin-top: .7rem;
            text-align: center;
            font-weight: $medium;
            font-size: .75rem;
            letter-spacing: .1rem;
            padding: 0 .5rem;
        }
        span{
            margin-top: .4rem;
            text-align: center;
            font-size: .75rem;
            color: gray;


        }
    }
}
@media screen and (max-width: 900px){
    .collection-carousel {
        &-card{
            flex-basis: 50%;
        }
    }
}
@media screen and (max-width: 720px){
    .collection-carousel {
        &-cards{
            width: 70%;
            margin: 0;
        }
        &-card{
            flex-basis: 100%;
        }
    }
}
// .showRight{
//     transform: translateX(-100%)
// }
// .showLeft{
//     transform: translateX(0)
// }

@keyframes arrowLeft {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(-20px);
    }
    51%{
        transform: translate(20px);

    }
    100%{
        transform: translate(0px);
    }
}
@keyframes arrowRight {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(20px);
    }
    51%{
        transform: translate(-20px);

    }
    100%{
        transform: translate(0px);
    }
}